table {
  border: 1px solid #CCC;
}

td {
  width:80px;
  height:80px;
  font-size:14px;
  text-align:center;
}

.image-to-color-palette {
  position:relative;
  height:350px;
}

img {
  padding: 25px;
  position:absolute;
  top:0;
  left:0;
  width:400px;
  height:300px;
}

.controls {
  position:absolute;
  top:25px;
  left:435px;
}
