table {
  position:absolute;
  top:75px;
  left:435px;
}

td {
  width:80px;
  height:80px;
  font-size:14px;
  text-align:center;
}

#imageContainer {
  position:relative;
  height:350px;
}

#myImage, #imageUploader, #image1 {
  padding: 25px;
  position:absolute;
  top:0;
  left:0;
  width:400px;
  height:300px;
}

#imageUploader {
  filter: alpha(opacity=0);
  opacity: 0;
}

#findPallet {
  position:absolute;
  top:25px;
  left:435px;
}
